{% extends "admin/admin_base.html" %}
{% block content %}

    <table class="table">
  <thead>
    <tr>
      <th scope="col">Sl no</th>
      <th scope="col">Worker_name</th>
      <th scope="col">message</th>
      <th scope="col">date</th>
      <th scope="col">reply</th>


    </tr>
  </thead>
  <tbody>
  {% for i in data %}

    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{i.Worker_name.Name}}</td>
      <td>{{i.message}}</td>
      <td>{{i.date}}</td>

      {% if i.reply == None %}
      <td><a href="{% url 'reply_feedback' i.id %}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Reply now</a></td>
      {% else  %}
      <td>{{i.reply}}</td>

        {% endif %}


    </tr>
  {% endfor %}


  </tbody>
</table>




{% endblock %}