{% extends "employers/employers_base.html" %}
{% block content %}

<div class="card" style="width: 18rem;">
  <img src="{{form.document.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{form.Name}}</h5>

  </div>
  <ul class="list-group list-group-flush">
      <li class="list-group-item">{{form.Address}}</li>
    <li class="list-group-item">{{form.State}}</li>
    <li class="list-group-item">{{form.Ph_no}}</li>
    <li class="list-group-item">{{form.Email}}</li>
  </ul>
   <td><a href="{% url 'employer_update' form.id %}" class= "btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Update</a></td>


</div>




{% endblock %}