{% extends "workers/workers_base.html" %}
{% block content %}

    <table class="table">
  <thead>
    <tr>
      <th scope="col">Sl no</th>
      <th scope="col">Worker_name</th>
      <th scope="col">Age</th>
      <th scope="col">DOB</th>
      <th scope="col">Address</th>
      <th scope="col">Ph_no</th>
      <th scope="col">Job_category</th>
      <th scope="col">Experience</th>
      <th scope="col">Preffered_location</th>
      <th scope="col">Job_type</th>
      <th scope="col">Status</th>
      <th scope="col">Delete</th>



    </tr>
  </thead>
  <tbody>
  {% for i in data %}

    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{i.Worker_name.Name}}</td>
      <td>{{i.Age}}</td>
      <td>{{i.DOB}}</td>
      <td>{{i.Address}}</td>
      <td>{{i.Ph_no}}</td>
      <td>{{i.Job_category}}</td>
      <td>{{i.Experience}}</td>
      <td>{{i.Preffered_location}}</td>
      <td>{{i.type}}</td>


        {% if i.status == 0 %}
        <td><h6>Request Rejected</h6></td>
         {% elif i.status == 1 %}
        <td><h6>Processing</h6></td>
        {% elif i.status == 2 %}
        <td><h6>Conformed</h6></td>
        {% endif %}
       <td><a href="{% url 'rmv' i.id %}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Delete</a></td>





    </tr>
  {% endfor %}


  </tbody>
</table>
{% endblock %}
